    body{background-color: black;}

    .card{background: url('../assets/backgorund.png') no-repeat;
    width: 400px ;
    height:200px ;
    box-sizing: border-box;
    padding: 1px 20px ;
    background-size: cover;
    margin: auto;
    margin-top:10% ;}

    a{text-decoration: none;
    color: black;}

    .instagram{list-style-image: url(../assets/Insta.png);   }

    .facebook{list-style-image:url(../assets/facebook.png)   }

    .whatsapp{ list-style-image:url(../assets/whatsapp.jpg)  }